.App {
  text-align: center;
}

.App-logo {
  height: 80px;
  width: 100%;
}

.App-header {
  background-color: #222;
  color: white;
}

.App-intro {
  font-size: large;
}

.main-title {
  margin: 1px;
}

.details-close-button {
  position: absolute;
  top: 0;
  right: 10px;
}

.ReactModal__Body--open {
  overflow: hidden;
}

.modal-class {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  border: 1px solid #ccc;
  background: #fff;
  overflow-x: hidden;
  WebkitOverflowScrolling: touch;
  border-radius: 4px;
  outline: none;
  padding: 20px;
}

.anime-manga {
  float: right;
  width: 57%;
  padding-right: 10%;
}

.anime-manga-poster {
  width: 27%;
  height: 100%;
  float: left;
}

.anime-poster, .manga-poster, .search-poster {
  margin-top: 10px;
  margin-right: 20px;
}

.anime-button {
  width: 15%;
  margin-left: 10%;
}

.manga-button {
  margin-left: 10%;
}

.search-button {
  width: 24%;
  margin-right: 5%;
}

.league-button, .steam-button {
  width: 10%;
}

.gaming-button {
  margin-left: 25%;
}

.champion-title {
  text-decoration: underline;
  text-align: center;
}

.champion-icon {
  margin-right: 1%;
  margin-top: 1%;
}

.league-bg-picture {
  position: relative;
  bottom: 20px;
  float: left;
  width: 50%;
  height: 485px;
  margin-right: 15px;
}

.champion-icon-box {
  float: left;
  width: 12%;
  margin-left: 20px;
}

.champion-spell-name {
  text-decoration: underline;
  position: relative;
  left: 15%;
}

.all-champion-pictures {
  padding-left: 5%;
  padding-top: 2%;
}

.spell-name {
  text-decoration: underline;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.spell-description {
  margin-top: 0;
  text-align: center;
}

.spell-image {
  margin-left: 2%;
  width: 10%;
}

.lore-title {
  text-decoration: underline;
}

.stats-title {
  text-decoration: underline;
  margin-top: 1%;
  margin-left: 70%;
}

.level-box {
  padding-left: 15%;
}

td:nth-child(2) {
  padding-right: 2%;
  padding-left: 6%;
}

td:nth-child(3) {
  position: relative;
  right: 1%;
  padding-left: 6%;
}

.champion-stats {
  position: relative;
  left: 10%;
  max-width: 410px;
}

.error-message {
  color: red;
  float: right;
  margin-top: 0.2%;
  padding-right: 18%;
}