.App {
  text-align: center;
}

.App-logo {
  height: 80px;
  width: 100%;
}

.App-header {
  background-color: #222;
  color: white;
}

.App-intro {
  font-size: large;
}

.main-title {
  margin: 1px;
}

.anime-manga {
  float: right;
  width: 67%;
}

.league-button {
  width: 10%;
  margin-right: 50px;
}

.steam-button {
  width: 9%;
}

.gaming-button {
  margin-left: 100px;
}
