.App {
  text-align: center;
}

.App-logo {
  height: 80px;
  width: 100%;
}

.App-header {
  background-color: #222;
  height: 150px;
  color: white;
}

.App-intro {
  font-size: large;
}
/*
.register-form {
  background-color: white;
  width: 80%;
}*/

